/* 
    Document   : ADRCollection
    Created on : Apr 2, 2011, 5:06:17 PM
    Author     : nbanks
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

h1.adr-collection-title {
    font-size: 3em;
}

table.adr-collection-description {
    padding: 5px;
}

th.adr-collection-description {
    vertical-align: top;
    text-align: center;
    padding: 10px;
}

td.adr-collection-description {
    padding: 10px;
}

.adr-add-file-icon {
    background-image:url(../images/icon/add.png);
}

.adr-edit-file-icon {
    background-image:url(../images/icon/edit.gif);
}

.adr-view-file-icon {
    background-image:url(../images/icon/view.gif);
}

.adr-download-file-icon {
    background-image:url(../images/icon/blue_down.png);
}

.adr-delete-file-icon {
    background-image:url(../images/icon/remove.png);
}

.x-list-selected {
    background-color: #ffff00;
}

.x-list-over {
    background-color: #eeeebb;
}