h1.adr-collection-title {
     font-size: 2em;
     margin: 5px 0px;
}

table.adr-collection-description {
     margin: 5px 0px;
}

th.adr-collection-description {
     padding: 10px;
     text-align: center;
     vertical-align: top;
}

td.adr-collection-description {
     padding: 10px;
}

.adr-add-file-icon {
     background-image: url("../images/icon/add.png");
}

.adr-edit-file-icon {
     background-image: url("../images/icon/edit.gif");
}

.adr-view-file-icon {
     background-image: url("../images/icon/view.gif");
}

.adr-download-file-icon {
     background-image: url("../images/icon/blue_down.png");
}

.adr-delete-file-icon {
     background-image: url("../images/icon/remove.png");
}

#adr-manage-collection-properties th {
     padding-right: 10px;
}

.x-list-selected {
     background-color: #FFFF00;
}

.x-list-over {
     background-color: #EEEEBB;
}

.adr-content-item {
     height: 64px;
     margin: 8px 0px;
     padding: 4px 0px;
}

.adr-content-item tr {
         height: 50%;
}

.adr-content-item-title {
     font-size: 1.5em;
     margin-bottom: -5px;
     padding: 0px 0px 0px 10px;
     text-align: center;
}

.adr-content-item-icon-block {
     height: 63px;
     width: 63px;
}

.adr-content-item-icon-div {
     border: 1px solid gray;
     height: 68px;
     width: 68px;
}

.adr-content-item-icon {
     display: block;
     margin: 4px;
     margin-left: auto;
     margin-right: auto;
}

.adr-content-item-description {
     font-size: 1.05em;
     line-height: 1.1em;
     padding: 5px 5px 5px 10px;
     vertical-align: middle;
}