/*
    Document   : Clear.css
    Created on : Apr 6, 2011, 1:38:25 PM
    Author     : nbanks
    Description:
        Purpose of the stylesheet follows.
*/
#adr-collection-viewer ol, #adr-collection-viewer ul {
    list-style: none;
}
#adr-collection-viewer a:link {
    padding-bottom: 0px;
}
#adr-collection-viewer table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
#adr-collection-viewer form tbody, #adr-collection-viewer form tbody th {
    border: 0;
}