/* 
    Document   : Clear.css
    Created on : Apr 6, 2011, 1:38:25 PM
    Author     : nbanks
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#adr-collection-viewer html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, a:link {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /*vertical-align: baseline;*/
}
#adr-collection-viewer article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
#adr-collection-viewer body {
    line-height: 1;
}
#adr-collection-viewer ol, ul {
    list-style: none;
}
#adr-collection-viewer blockquote, q {
    quotes: none;
}
#adr-collection-viewer blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
#adr-collection-viewer table {
    border-collapse: collapse;
    border-spacing: 0;
}
#adr-collection-viewer form tbody {
    border: 0;
}